.profile-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 8px; 
    width: 50%;
  }
  
  .label {
    font-weight: bold;
  }
  .value {
    text-align: center;
  }
  h2 {
    color: #333;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 8px;
  }
  
  input {
    padding: 8px;
    margin-bottom: 16px;
  }



  