.bg-div {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 80vh;
    position: relative;
}

.transparent-div {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    width: 90%;
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.contact-h3 {
    margin: 0;
}

.contact-p {
    margin: 0;
}

.transparent-div .faq-section {
    cursor: pointer;
    margin-bottom: 10px;
    transition: margin 0.3s ease;
    background-color: #ffffff;
    padding: 10px;
    overflow: hidden;
  }
  
  .transparent-div .faq-section:hover {
    background-color: #c2edda;
  }
  
  .transparent-div .faq-section h3 {
    margin: 0;
  }
  
  .transparent-div .faq-section p {
    margin-top: 5px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }
  
  .transparent-div .faq-section.expanded p {
    max-height: 1000px; /* Ustaw odpowiednią maksymalną wysokość */
  }
  

@media screen and (max-height: 800px) {
    .transparent-div {
        position: static;
        transform: none;
    }
}