.header {
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
    height: 10vh;

}

.header button {   
    background-color: #ffb766;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.header button:hover {
    background-color: #f43a09;
    transition: all 0.3s ease-in-out;
}

.header-left, .header-center {
    flex: 1;
    display: flex;
    align-items: center;
}
.header-left p{
    margin: 2vh;
}
.header-left img {
    width: 40%; 
  }
.header-center {
    text-align: center;
    justify-content: center;
}

.header-center ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.header-center li {
    display: flex;
    align-items: center;
    margin: 0 15px;
}

.header-center a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ffb766;
    padding: 5px 10px;
    position: relative;
}

.header-center svg {
    margin-right: 5px; /* Dodaj odstęp między ikonką a tekstem */
  }

.header-center a::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: #333;
    transition: all 0.3s ease-in-out;
}

.header-center a:hover::before {
    width: 100%;
    left: 0;
}

.header-center a:hover {
    color: grey;
}


.header-right {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.header-right p {
    margin: 2vh;
}

.logo {
    margin-left: 10px;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: grey;
    margin-right: 2vh;
    position: relative;
}

a:hover {
    color: grey;
    transition: all 0.3s ease-in-out;
}

a::before {
    content: ""; 
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: #f7f7f7; 
    transition: all 0.3s ease-in-out;
    bottom: -3px;
}

a:hover::before {
    width: 100%;
    left: 0;
    background-color: #f43a09; 
}
.ebok{
    color: black;
}
.overlay {
    position: absolute;
    top: 100%; /* Ustaw top na 100%, aby overlay wyświetlał się poniżej przycisku */
    right: 1px;
    display: flex;
    justify-content: center;
    align-items: right;
    z-index: 1000;
  }
  
  .buttons-container {
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
  }
  
  .buttons-container a,
  .buttons-container button {
    display: block;
    margin-bottom: 10px;
  }
  .logout-tab{
    color: grey;
  }
  .arrow-container {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    position: relative;
  }
  
  .arrow-container:hover {
    background-color: transparent;
    transition: all 0.3s ease-in-out;
  }
  
  .arrow-icon {
    width: 30px;
    height: 30px;
    fill: #ffb766;
    transition: fill 0.3s ease-in-out;
  }
  
  .arrow-container:hover .arrow-icon {
    fill: #f43a09;
  }

  .header-span{
    font-size: small;
    font-weight: bold;
    color: #333333;
    margin: 2px;
  }
.login-button{
    color: #f43a09;
}
.nostyle {
    all: unset;
}

