body {
  background-image: url('../assets/graphics/bg2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.offers-container {
  display: grid;
  grid-gap: 20px;
  justify-items: center;
  text-align: center;
  margin: 30px auto;
  margin-top: 100px;
  background-color: white;
}

.basic-offers,
.additional-offers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  justify-items: center;
  text-align: center;
  margin: 0 auto;
}

.offer {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 5px;
  width: 300px;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.offer:hover {
  transform: scale(1.05);
  background-image: none;
}

.basic-offers h1,
.additional-offers h1 {
  grid-column: span 3;
  text-align: center;
  margin-bottom: 20px;
  color: #3498db;
}


.offer h2 {
  font-size: 20px;
  margin: 10px 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.offer p {
  margin: 5px 0;
}

.offer .button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.2s;
}

.offer:hover .button-container {
  opacity: 1;
}

.offer button {
  background-color: transparent;
  border: none;
  padding: 10px 20px;
  font-family: 'Arial', sans-serif;
  cursor: pointer;
  background-color: #ffb766;
  transition: 0.2s ease-in-out; 
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.offer button:hover {
    background-color: #3498db;
}

.download {
  color: #0335a6;
  font-weight: bold;
  font-size: 40px;
}

.speed {
  display: inline;
}

.price {
  color: #3498db;
  font-weight: bold;
  font-style: italic;
  border: 2px dashed#f43a09;
  padding: 5px;
}

.contract {
  color: grey;
}

.desc {
  color:#3498db;
  font-weight: bold;
  font-style: italic;
}

.desc2 {
  font-weight: bold;
  color: grey;
}

.center {
  text-align: center;
}


