.offers-container {
  display: grid;
  grid-gap: 20px;
  justify-items: center;
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

.basic-offers,
.additional-offers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  justify-items: center;
  text-align: center;
  margin: 0 auto;
}

.offer {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 5px;
  width: 300px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.offer:hover {
  transform: scale(1.05);
  background-image: none;
  background-color: #c2edda;
  color: #fff;
}

.basic-offers h1,
.additional-offers h1 {
  grid-column: span 3;
  text-align: center;
  margin-bottom: 20px;
}

.offer h2 {
  font-size: 20px;
  margin: 10px 0;
}

.offer p {
  margin: 5px 0;
}

.offer .button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.2s;
}

.offer:hover .button-container {
  opacity: 1;
}

.offer button {
  background-color: transparent;
  border: none;
  padding: 10px 20px;
  font-family: 'Arial', sans-serif;
  cursor: pointer;
}
